<!DOCTYPE html>
<html ng-app="techTest">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Test</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @RenderBody()


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/App/app.js"></script>
    <script src="~/App/route.js"></script>
    <script src="~/App/controllers/people-ctrl.js"></script>
    <script src="~/App/controllers/person-ctrl.js"></script>
    <script src="~/App/models/person.js"></script>

</body>
</html>